nav {
  height: 100vh;
  background-color: #253240;
  width: 20vw;
  border-right: thin solid #A0A0A0;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

nav p {
  color: white;
}

nav h1 {
  color: white;
  padding-top: 3vh;
}

nav li {
  color: white;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:visited {
  color: white;
}

hr {
  border-color: #A0A0A0;
  margin-left: 1vw;
  margin-right: 1vw;
}

.top-section {
  height: 65vh;
  padding: 2vh 0 0 4vw;
}

.page-links {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  height: 30vh;
  font-size: large;
}

.bottom-section {
  padding: 2vh 0 0 4vw;
  display: flex;
  flex-direction: column;
  height: 10vh;
}

nav li img {
  height: 20px;
  width: auto;
  margin-right: 10px;
}